server/laion_clap
server/.env
server/.venv
server/node_modules
server/audio_files
server/__pycache__

frontend/node_modules
frontend/.next

mtg-jamendo-dataset
fma_metadata
fma_embeds
CLAP-main
Vectors
volumes

embeds.py
merger.py
git
node_modules
.DS_Store
__pycache__
