@import "tailwindcss";

@keyframes scrollText {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* Hide scrollbar for Chrome, Safari and newer versions of Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

option {
  background-color: #000;
}

.scrollable-content::-webkit-scrollbar {
  display: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.loading-animation {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.file-drop-container {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  transition-duration: 0.5s;
  background-color: rgba(0, 0, 0, 0);
  z-index: 99;
}

.file-drop-container.dragging {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid white;
  margin-top: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}
